/* --------------------------- *\
			NAVBAR
\* --------------------------- */

.navbar {
	padding: 0 var(--espaciado-normal);
	box-sizing: border-box;
	color: var(--color-white);
	background-color: var(--color-principal);
	box-shadow: var(--box-shadow);

	font-size: 1.05em;
	letter-spacing: 0.05em;

	position: relative;
	z-index: 600;

	display: grid;
	grid-auto-flow: column;
	grid-gap: 2em;
}

	.logo {
		margin: 0.9em 0;
		display: flex;
		align-items: center;
	}

		.navbar-logo-imagen {
			height: var(--espaciado-muy-alto);
		}

		.navbar-logo-nombre {
			margin: 0;
			margin-left: .5em;
		}

	.menu {
		height: inherit;

		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

		.navbar-menu-link {
			padding: 9px;
			margin-right: 1em;
			color: var(--color-white);
			text-decoration: none;
			transition: 150ms;
		}
		.navbar-menu-link:hover {
			transform: scale(.85);
		}
		.navbar-menu-link:last-of-type {
			margin: 0;
			margin-left: .5em;
			border-radius: var(--border-radius);
			border: 1px solid var(--color-white);
		}

		/* Navbar styles */

  
  .logo a {
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
  }
  
  .menu {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;

  }
  
  .menu li {
	margin: 0 10px;
	justify-content: center;
  }
  
  .menu li a {
	text-decoration: none;
	color: #fff;
  }
  
  /* Mobile styles */
  @media only screen and (max-width: 768px) {
	.menu {
	  display: none;
	}
  
	.menu-toggle {
	  display: block;
	  cursor: pointer;
	  color: #fff;
	  display: flex;
		align-items: center;
		justify-content: flex-end;
	}
  }
  
  /* Tablet and desktop styles */
  @media only screen and (min-width: 769px) {
	.menu-toggle {
	  display: none;
	}
  }